# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
.venv

# Database
*.db
*.sqlite
*.sqlite3

# Flask
instance/
.webassets-cache

# Environment variables
.env
.env.local

# IDE
.vscode/
.idea/

# Logs
*.log
debug-*.log

# Uploads (если не хочешь заливать фото)
static/uploads/
static/avatars/

# OS junk
.DS_Store
Thumbs.db